.tabs-list {
    padding: 0px;
    background: #61dafb;
    display: flex;
    font-size: 30px;
}

.tabs--wrapper.stretched .tabs-list .tab--wrapper .tab-inner {
    width: unset;
    margin-right: 50px;
}