/* Apply box-sizing border-box to all elements */
* {
    box-sizing: border-box;
}

/* Define a CSS class for zooming effect */
.zoom {
    transition: transform 0.2s; /* Add a smooth transition effect */
    margin: 0 auto; /* Center the element horizontally */
}

/* Apply zoom effect on hover */
.zoom:hover {
    -ms-transform: scale(8); /* IE 9 */
    -webkit-transform: scale(8); /* Safari 3-8 */
    transform: scale(2); /* Scale the element by 2x */
    z-index: 6; /* Set a higher z-index to bring the element to the front */
}

/* Apply styling for solved images */
.image-solved {
    filter: blur(5px) grayscale(1) brightness(0.5) hue-rotate(90deg);
    /* Apply a blur effect, grayscale, reduce brightness, and rotate the hue */
}
