* {
    box-sizing: border-box;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(8); /* IE 9 */
    -webkit-transform: scale(8); /* Safari 3-8 */
    transform: scale(8);
    z-index: 6;
}