.searchBox {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6ecf0;
    width: 100%;
}

.searchBox > form {
    display: flex;
}

.searchBox__input {
    padding: 0px 20px 10px;
    display: flex;
    width: 500px;
    margin-top: 10px;
}

.searchBox__input > input {
    white-space: pre-wrap;
    flex: 1;
    /* margin-left: 20px; */
    font-size: 20px;
    border: none;
}

.searchBox__searchButton {
    float: right;
    background-color: #1D9BF0;
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-left: auto;
    justify-content: center;
    margin-top: auto;
}